.App{
  background-color: rgb(182, 207, 207);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card{
  background-color: white;
  border-radius: 120px;
  padding: 15px;
  justify-content: center;
  text-align: center;
  
}

.barcode-image{
  border-radius: 15px;
}